@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card{
        width: 100%  !important;
        display: block  !important;
        background-color: brown  !important;
        display: grid !important;
        grid-template-columns: repeat(1,1fr)  !important;
      }
      .premiam{
        width: 50%  !important;
        display: grid !important;
        grid-template-columns: repeat(1,1fr)  !important;
      }
  
  }